@charset "utf-8";

@font-face {
	font-family: Arial;
	
}
/*Pulldown Menu Styles*/



/* Page Body Styles */









body {
   margin-left: auto;
   margin-right: auto;
   width: 96%;
   max-width: 960px;
   min-width: 640px;  
}


/* Image Styles */
img {
   display: block;
   width: 100%;
  
}



/* Horizontal Navigation Styles */





section#sub {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   color: grey;
}


/* Specials Styles */

div.special{
   min-height: 400px;
   outline: 1px dashed rgb(71, 52, 29);
}



/* Page Body Styles */
body {
   background-color: rgb(192, 192, 192);
   font-family: Verdana, Geneva, Arial, sans-serif;   
}


/* Horizontal Navigation List Styles */
ul.horizontal li {
	display:inline-block;
	text-align: center;
    padding: 5px 20px;
}
ul.horizontal li a {
	color:#650000;
}


nav>ul.horizontal{
	border: 5px;
	display: block;
	color:rgb(240,255,240);
}

nav ul.horizontal>ul>li {
   display: inline-block;
   float: left;
   width:16%;
   text-decoration: none;
   padding: 35px, 38px;
   word-spacing: 30px;
}

nav.horizontal >ul>li>a {
   display: block;
   font-family: arial, cursive;
   text-align: center;
   
}  
nav.horizontal >ul{
	overflow: auto;
}

/* Grid Styles */
ul.submenu {
	display: none;
	position: absolute;
}
a.submenuTitle:hover+ul.submenu,ul.submenu:hover{
	display:block;
}
ul.submenu > li{
	background-color: #grey;
	display: block;
}
ul.submenu > li> a{
	color: white;
	font-size: 1em;
	text-align: left;
	line-height: 2em;
	display:block;
	
}
nav.horizontal a:link, nav.horizontal a:visited {
   color: grey;
   text-align: center;
   border: 3px;
   display:block;
}

nav.horizontal a:hover, 
nav.horizontal a:active {
   background-color: white;
   display:block;
}   

/* Section Styles */

section#main {
   padding-left: 20px;
}


header {
	
}
/* Article Styles */
article{ 
border: 2px;
width:100%;
display:block;
} 
article img{ 
width: 300px;
Height:250px;
}


article > h1 {
   font-family: arial, cursive;
   font-size: 2.2em;
   font-weight: normal;
   margin: 0.5em 0;
   
}

article p {
   line-height: 1.2;
   margin-bottom: 2em;
}


/* Specials Styles */

div.specials {
   background-color: white;
   padding: 20px;
   
}


div.specials h1 {
   font-family: arial, cursive;
   font-size: 1em;
   color:white;
   margin: 2em;
   text-align: center;
}
div.specials img{
	width:100%;
	
}

	


div.specials a {
   color: rgb(186, 186, 156);
   
}
div.Multimedia img{
    display:inline-block;
	display:absoulate;
	float:none;
    text-align:center;
}
	

/* Footer Styles */
footer{
	width:100%;
	text-align:center;
}


div.Multimedia img{
	width:20%;
    text-align:center;
	display:inline-block;
	float:left;
}
	
nav#bottom >ul >li {
   font-size: 1em;
   line-height: 1.8em;
   display:inline-block;
   display:absoulate;
}



nav#bottom > ul >a {
   color: white;
}

footer p {
   color: rgb(211, 211, 211);
   font-size: 1em;
   text-align: center;
   background-color: black;
   margin: 3px;
   padding: 10px 0px;
   display:inline-block;

}
.multimedia-container {
  display: flex;
  justify-content: center;
}
section{
	margin: auto;
   text-align: center;
   padding: 30px;
   width:80%;
	
}
.contact-form h1{
	color: grey;
	padding-top:10px;
	text-align: center;
	font-size: 18px;
	font-family:arial, cursive;

}
 .form-container input { 
    background-color: white;
	width:65%;
	margin-left:12%;
	font-size: 20px;
	padding:16px 16px;
	border-radius: 10px;
	border-color: red;
	margin-bottom: 20px;
 }
	
.form-container textarea { 
background-color: white;
	width: 65%;
	margin-left: 12%;
	font-size: 12px;
	padding: 16px 16px;
	border-radius: 10px;
	border-color: red;
	margin-bottom: 25px;
	font-family:arial, cursive;
}

.submit-button {
	
	border-radius: 20px;
   border-color: red;
   font-size: 22px;
   padding: 10px 18px;
   text-align: center;
   display: flex;
   margin: auto;
   cursor:pointer;
}

	


